@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a img {
  border: none;
}
.ithril {
  box-sizing: border-box;
}
.ithril .tabs {
  margin: 10px;
  margin-top: 20px;
  position: relative;
}
.ithril .tabs nav {
  margin-top: 10px;
}
.ithril .tabs nav a {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 6px;
  padding: 8px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #ebecf1;
}
.ithril .tabs nav a.active {
  background: #dcdfe6;
  color: #676e76;
}
.ithril .tabs .tab {
  display: block;
  width: 100%;
  background: #dcdfe6;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ithril .tabs .tabs {
  position: relative;
}
.ithril .tabs .tabs nav a.active {
  background: #f1f2f5;
}
.ithril .tabs .tabs .tab {
  background: #f1f2f5;
}
.ithril .tabs .tabs .tabs nav a.active {
  background: #dcdfe6;
}
.ithril .tabs .tabs .tabs .tab {
  background: #dcdfe6;
}
.ithril textarea.field {
  overflow: hidden;
}
.ithril .field,
.ithril .field + .mirror {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: white;
  border-radius: 3px;
  line-height: 22px;
  padding: 10px 14px;
  font-size: 15px;
  line-height: 1.428571429;
  color: #4d5a6e;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  resize: none;
}
.ithril .field:focus,
.ithril .field + .mirror:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #a4c6fd inset;
}
.ithril .field.small,
.ithril .field + .mirror.small {
  padding: 5px 10px;
}
.ithril .field.path,
.ithril .field + .mirror.path {
  background: #dcdfe6;
}
.ithril .field.mirror,
.ithril .field + .mirror.mirror {
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1000px;
  word-wrap: break-word;
}
.ithril *,
.ithril *:before,
.ithril *:after {
  box-sizing: inherit;
}
